@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap");

html,
body {
  min-height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;

  font-family: "Open Sans", sans-serif;

  /* background: linear-gradient(180deg, #43c6ac 0%, #f8ffae 100%); */
  background-color: aliceblue;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.12em;
}
